<% if(messages.length>0){%>
    <div class="alert alert-success alert-dismissible fade show my-0">
      <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
        <button type="button" class="close" data-bs-dismiss="alert">x</button>
        <%= messages %>
      </div>
    <%}%>