<% if(isSession===true){ %>
    <div class="card-body" style="text-align: end;padding: 0%;">
      
      <a style="display: inline-block;" class="category__link" href="/authUser/dashboard">
        <img class="rounded-circle centered-and-cropped" style="width: 3.125rem; height: 3.125rem;" src="/images/<%= user.imageProfile %>" alt="userImg.jpg" onerror="this.src='/usedImages/defaultProfile.png'">
        <h6 ><%=user.firstName%> </h6>
      </a>
      
    </div>
  <%}%>