<footer class="py-5 bg-dark mt-auto">
    <div class="container-fluid px-4">
        <p class="m-0 text-center text-white">
            Copyright &copy; Website 2023
        </p>
        <div style="text-align: center; margin-top: 1.5rem;">
            <a href="https://twitter.com/"><img style="width:2rem; margin: 0 0.6rem 0 0.6rem;" src="/usedImages/twitter.png" alt="twitter"></a>
            &middot;
            <a href="https://www.facebook.com/"><img style="width:2rem; margin: 0 0.6rem 0 0.6rem;" src="/usedImages/facebook.png" alt="facebook"></a>
            &middot;
            <a href="https://www.instagram.com/"><img style="width:2rem; margin: 0 0.6rem 0 0.6rem;" src="/usedImages/instagram.png" alt="facebook"></a>
        </div>
    </div> 
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="/authUser/js/scripts.js"></script>

</body>
</html>