<button class="sh-button btn" title="Share"><i class="fas fa-share"></i></button>

<div class="overlay"></div>
<div class="share">
    <p style="display: inline-block; font-size: large;">Share now</p>
    <a class="closeShare btn" style="float:right"><i class="fa fa-times" aria-hidden="true"></i></a>
    <hr>
    <div id="share-buttons" class="scrollmenu">

        <a class="copy" target="blank"><i title="Copy link" class="fas fa-copy" style="color: #c9bf4c;"></i></a>
        <!-- facebook -->
        <a class="facebook" target="blank"><i class="fab fa-facebook"></i></a>
        <!-- twitter -->
        <a class="twitter" target="blank"><i class="fab fa-twitter"></i></a>
        <!-- linkedin -->
        <a class="linkedin" target="blank"><i class="fab fa-linkedin"></i></a>
        <!-- reddit -->
        <a class="reddit" target="blank"><i class="fab fa-reddit"></i></a>
        <!-- whatsapp -->
        <a class="whatsapp" target="blank"><i class="fab fa-whatsapp"></i></a>
        <!-- telegram -->
        <a class="telegram" target="blank"><i class="fab fa-telegram"></i></a>

    </div>

</div>