<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; Your Website 2023</div>
            <div>
                <a href="https://twitter.com/"><img style="width:2rem;" src="/usedImages/twitter.png" alt="twitter"></a>
                &middot;
                <a href="https://www.facebook.com/"><img style="width:2rem;" src="/usedImages/facebook.png" alt="facebook"></a>
                &middot;
                <a href="https://www.instagram.com/"><img style="width:2rem;" src="/usedImages/instagram.png" alt="facebook"></a>
            </div>
        </div>
    </div>
</footer>
</div>
</div>
<script src="/authUser/js/scripts.js"></script>
</body>
</html>
